<%#= video_tag "back_vaxt.mp4", autoplay: :autoplay, muted: true, loop: :loop, class: "background_video hidden-xs hidden-sm hidden-md" %>

<div class="background_mobile">
  <%= render 'svg/back-full' %>
</div>
