<div class="bubble bubble_1">
  <span>MY DICKTATOR</span>
  <div class="bubble_shadow bubble_shadow_1"></div>
</div>

 <div class="bubble bubble_2">
  <span>TULIPES</span>
  <div class="bubble_shadow bubble_shadow_2"></div>
</div>

<div class="bubble bubble_3">
  <span>?</span>
  <div class="bubble_shadow bubble_shadow_3"></div>
</div>

<div class="bubble bubble_4">
  <span>LINES</span>
  <div class="bubble_shadow bubble_shadow_4"></div>
</div>

<div class="bubble bubble_5">
  <span>TYPOGRAPHY</span>
  <div class="bubble_shadow bubble_shadow_5"></div>
</div>

<div class="bubble bubble_6">
  <span>TROUS</span>
  <div class="bubble_shadow bubble_shadow_6"></div>
</div>
