<div class="bubble bubble_1">
  <span>MY DICKTATOR</span>
</div>

 <div class="bubble bubble_2">
  <span>TULIPES</span>
</div>

<div class="bubble bubble_3">
  <span>?</span>
</div>

<div class="bubble bubble_4">
  <span>LINES</span>
</div>

<div class="bubble bubble_5">
  <span>TYPOGRAPHY</span>
</div>

<div class="bubble bubble_6">
  <span>TROUS</span>
</div>
