<!-- <div class="bubble bubble_1">
  <span>MY DICKTATOR</span>
  <div class="bubble_shadow bubble_shadow_1 hidden-xs"></div>
</div>

 <div class="bubble bubble_2">
  <span>TULIPES</span>
  <div class="bubble_shadow bubble_shadow_2 hidden-xs"></div>
</div>

<div class="bubble bubble_3">
  <span>?</span>
  <div class="bubble_shadow bubble_shadow_3 hidden-xs"></div>
</div>

<div class="bubble bubble_4">
  <span>LINES</span>
  <div class="bubble_shadow bubble_shadow_4 hidden-xs"></div>
</div>

<div class="bubble bubble_5">
  <span>TYPOGRAPHY</span>
  <div class="bubble_shadow bubble_shadow_5 hidden-xs"></div>
</div>

<div class="bubble bubble_6">
  <span>TROUS</span>
  <div class="bubble_shadow bubble_shadow_6 hidden-xs"></div>
</div> -->

<div class="bubble-field">
  <div class="wrapper_1">
    <div class="wrapper">
      <a class="icon-btn icon-btn-1" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 18px;">LINES</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
  <div class="wrapper_2">
    <div class="wrapper">
      <a class="icon-btn icon-btn-2" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 11px;">MY DICKTATOR</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
  <div class="wrapper_3">
    <div class="wrapper">
      <a class="icon-btn icon-btn-3" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 20px;">TROUS</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
  <div class="wrapper_4">
    <div class="wrapper">
      <a class="icon-btn icon-btn-4" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 16px;">TULIPES</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
  <div class="wrapper_5">
    <div class="wrapper">
      <a class="icon-btn icon-btn-5" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 12px;">TYPOGRAPHY</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
  <div class="wrapper_6">
    <div class="wrapper">
      <a class="icon-btn icon-btn-6" href="">
        <!--     <i class="icon-facebook"></i>
          <span></span> -->
          <span class="btn-title" style="font-size: 15px;">E-SHOP</span>
        </a>
        <div class="shadow"></div>
      </div>
  </div>
</div>
