<div class="bubble_wrapper bubble_1_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>MY DICKTATOR</span>
  </div>
  <%= video_tag "dicktator.mp4", class: "dicktator_video", controls: true %>
</div>

<div class="bubble_wrapper bubble_2_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_3_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_4_wrapper hidden">
</div>
