<div class="logo">
  <%= render 'svg/logo-pro' %>
</div>

<%#= link_to "https://www.etsy.com/fr/shop/VAXTshop?order=price_asc", target: "_blank", class: "bubble bubble_e_shop" do %>
  <!-- <span>ESHOP</span> -->
<%# end %>
