<div class="social_network">
  <%= link_to "https://www.facebook.com/VAXT.fr/", target: "_blank", class: "social_links" do %>
    <i class="fab fa-facebook"></i>
  <% end %>
  <%= link_to "https://www.youtube.com/channel/UCc15iu40dulMDj1YWMNzAKg/videos", target: "_blank", class: "social_links" do %>
    <i class="fab fa-youtube"></i>
  <% end %>
  <%= link_to "https://www.instagram.com/va_xt/?hl=fr", target: "_blank", class: "social_links" do %>
    <i class="fab fa-instagram"></i>
  <% end %>
  <%= link_to "mailto:contact@vaxt.fr", target: "_blank", class: "social_links" do %>
    <i class="fas fa-envelope-open"></i>
  <% end %>
</div>
