<%= video_tag "back_vaxt.mp4", class: "background_video", autoplay: :autoplay,
loop: :loop %>

<div class="logo">
  <%= render 'svg/logo' %>
</div>

<div class="bubble_e_shop">
  <span>ESHOP</span>
</div>

<!-- BUBBLES -->

<div class="bubble bubble_1">
  <span>MY DICKTATOR</span>
</div>

 <div class="bubble bubble_2">
  <span>TULIPES</span>
</div>

<div class="bubble bubble_3">
  <span>LALE</span>
</div>

<div class="bubble bubble_4">
  <span>LINES</span>
</div>

<div class="bubble bubble_5">
  <span>LINES</span>
</div>

<div class="bubble bubble_6">
  <span>LINES</span>
</div>

<!-- WRAPPERS -->

<div class="bubble_wrapper bubble_1_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_2_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_3_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_4_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_5_wrapper hidden">
</div>

<div class="bubble_wrapper bubble_6_wrapper hidden">
</div>
