.background_mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  z-index: 0;
  transform: scale(2,2)
}

@media screen and (max-height: 735px) {
  transform: scale(10,1);
}
