.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: black;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 14px;
}

.bubble_e_shop:link {
  width: 75px;
  height: 75px;
  line-height: 75px;
  top: 5%;
  right: 5%;
  background-color: #9AF04C;
  text-decoration: none;
  color: $white;
}

.bubble_e_shop:visited {
  width: 75px;
  height: 75px;
  line-height: 75px;
  top: 5%;
  right: 5%;
  background-color: #9AF04C;
  text-decoration: none;
  color: $white;
}

.bubble_e_shop:hover {
  width: 75px;
  height: 75px;
  line-height: 75px;
  top: 5%;
  right: 5%;
  background-color: #9AF04C;
  text-decoration: none;
  color: $white;
}

.bubble_e_shop:selected {
  width: 75px;
  height: 75px;
  line-height: 75px;
  top: 5%;
  right: 5%;
  background-color: #9AF04C;
  text-decoration: none;
  color: $white;
}

.bubble_1 {
  width: 160px;
  height: 160px;
  line-height: 160px;
  top: 8%;
  left: 40%;
}

.bubble_2 {
  width: 132px;
  height: 132px;
  line-height: 132px;
  top: 30%;
  left: 15%;
}

.bubble_3 {
  width: 45px;
  height: 45px;
  line-height: 45px;
  bottom: 30%;
  right: 15%;
  font-size: 12px;
}

.bubble_4 {
  width: 78px;
  height: 78px;
  line-height: 78px;
  bottom: 19%;
  left: 30%;
}

.bubble_5 {
  width: 212px;
  height: 212px;
  line-height: 212px;
  bottom: 10%;
  right: 30%;
}

.bubble_6 {
  width: 93px;
  height: 93px;
  line-height: 93px;
  top: 25%;
  right: 25%;
}

.bubble_1:hover {
  background-image: linear-gradient(to right, #BFE9FF, #FF6E7F);
}

.bubble_2:hover {
  background-image: linear-gradient(to right, #E100FF, #7F00FF);
}

.bubble_3:hover {
  background-image: linear-gradient(to right, #F4D194, #F8D3DC);
}

.bubble_4:hover {
  background-image: linear-gradient(to right, #29FFC6, #0CEBEB);
}

.bubble_5:hover {
  background-image: linear-gradient(to right, #E927F3, #FCEC33);
}

.bubble_6:hover {
  background-image: linear-gradient(to right, #5CD444, #FCEC69);
}

