.social_network {
  width: 100px;
  display: flex;
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  left: 5%;
  color: #9AF04C;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

.social_links:link {
  color: #9AF04C;
  text-decoration: none;
}
.social_links:visited {
  color: #9AF04C;
  text-decoration: none;
}
.social_links:hover {
  color: #9AF04C;
  text-decoration: none;
}
.social_links:selected {
  color: #9AF04C;
  text-decoration: none;
}
